<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7f55bf8b-ebc8-4ec6-8ccf-a3c68fb88e4e/resourceGroups/DevTalentOnboarding1/providers/Microsoft.Web/sites/DevTalentOnboarding1</ResourceId>
    <ResourceGroup>DevTalentOnboarding1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://devtalentonboarding1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>devtalentonboarding1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DevTalentOnboarding1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DevTalentOnboarding1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TalentDevEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:amanintern.database.windows.net,1433;Initial Catalog=TalentDev1;Persist Security Info=False;User ID=aman;Password=Am01deep;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:amanintern.database.windows.net,1433;Initial Catalog=TalentDev1;Persist Security Info=False;User ID=aman;Password=Am01deep;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DevTalent5.Models.TalentDevEntities, DevTalent5" MigrationConfiguration="DevTalent5.Migrations.Configuration, DevTalent5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TalentDevEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:amanintern.database.windows.net,1433;Initial Catalog=TalentDev1;Persist Security Info=False;User ID=aman;Password=Am01deep;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>